doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Cantanti Rapper 
  body
    header.header
      h1 Benvenuto alla pagina principale
    article.container
      div.person
          
          a(href='/Eminem') Eminem 
    
      div.person
          
          a(href='/Jayz') JayZ 

      div.person
          
          a(href='/Tupac') Tupac
